@font-face{
    font-family: "Prosto One";
    src: url(../fonts/ProstoOne-Regular.ttf);
    font-weight: normal;
}
@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-weight: normal;
}
/* @font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
    font-weight: 700;
} */